name: Test

on:
  workflow_call: # 允许被其他 workflow 调用
  workflow_dispatch: # 允许手动触发

jobs:
  test-vimage:
    name: Test vimage
    runs-on: ubuntu-latest
    container:
      image: debian:bookworm-slim
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          echo "deb http://ftp.hk.debian.org/debian sid main" > /etc/apt/sources.list.d/sid.list
          apt-get update
          apt-get install -y --no-install-recommends -t sid libvips-dev
          apt-get install -y --no-install-recommends ca-certificates git curl
          rm /etc/apt/sources.list.d/sid.list

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.3"
          cache: true

      - name: Run vimage tests
        run: |
          cd pkg/vimage
          go test -v
