name: Test

on:
  workflow_call: # 允许被其他 workflow 调用
  workflow_dispatch: # 允许手动触发

jobs:
  test-vimage:
    name: Test vimage
    runs-on: ubuntu-latest
    container:
      image: golang:1.25.3-bookworm
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          echo "deb http://ftp.hk.debian.org/debian sid main" > /etc/apt/sources.list.d/sid.list
          apt-get update
          apt-get install -y --no-install-recommends -t sid libvips-dev
          rm /etc/apt/sources.list.d/sid.list

      - name: Run vimage tests
        env:
          CGO_ENABLED: 1
        run: |
          cd pkg/vimage
          go test -v
